/***********************************************
                COLOUR NOTES
***********************************************/

$lightblue:    #C7F7FF;
$medblue:      #89C0C9;
$darkblue:     #3a5E63;

$lightbrown:   #C9A689;
$darkbrown:    #7C593C;

$lightgrey:    #d4d4d4;
$darkgrey:     #222;

$white:        #fff;

$defaultfonts: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$seriffonts:    Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
